<apex:page standardController="Case" extensions="FirstBuseNewCaseController" id="thepage" docType="html-5.0" lightningStylesheets="true">
    <apex:slds />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
        
        .tdstyle{
            padding : 1% !important;
        }
        .buttonStyle{
            width:90px !important;
        }
        .clt, .clt ul, .clt li {
            position: relative;
        }
        
        .clt li{
            padding-left: 2%;
            width: 125%;
        }
        
        .clt ul {
            list-style: none;
            padding-left: 60px;
            margin:-30px;
            padding-top: 16px;
            width: 100;
        }
        .clt li::before, .clt li::after {
            content: "";
            position: absolute;
            left: -12px;
        }
        .clt li::before {
            border-top: 3px solid deepskyblue;
            top: 14px;
            width: 24px;
            height: 0;
        }
        .clt li::after {
            border-left: 3px solid deepskyblue;
            height: 100%;
            width: 0px;
            top: 6px;
        }
        .clt ul > li:last-child::after {
            height: 8px;
        }
        .caseButton{
            border: 1px solid black;
            color: black;
            margin-top: 0px;
            margin-bottom: 0px;
            border-top-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-radius: 5px;
            margin-right: 10px;
            background-color: lightgray;
            padding: 0px 6px 0px 10px;
        }
        .tdWebform{
            padding-left : 1% !important;
        }
        .formBgColor{
            background-color:white!important;
        }
    </style>
    <apex:form id="theform" styleClass="formBgColor">
        
        <apex:pagemessages id="val"></apex:pagemessages>
        <apex:outputPanel id="header">
            <table style="background-color:#1A2D58;width:100%;">
                <tr>
                    <td class="tdstyle">
                        <apex:outputLabel style="color:white;" value="Customer:"></apex:outputLabel> &nbsp;<apex:outputText style="color:white;" value="{!serchedContact.Name}"></apex:outputText> 
                    </td>
                    <td rowspan="2" class="tdstyle" style="text-align:right;"><apex:image url="{!$Resource.FirstBus_Just_F}" width="25%" height="25%"/></td>
                </tr>
                <tr>
                    <td class="tdstyle">
                        <apex:outputLabel style="color:white;" value="Case:"></apex:outputLabel> &nbsp;<span style="color:white;" ><apex:outputPanel >{!strCaseInformation}</apex:outputPanel></span>
                    </td>
                </tr>
            </table>
        </apex:outputPanel>
        
        <!---------  Start Screen 1 - Displays Case Details ---------->
        <apex:outputPanel id="lvl1" style="display:{!IF(isFirstLvl1,'block','none')}" >
            <apex:actionRegion >
                <span class="tdstyle" onload="focusTop();">Indicate Customer's Location: </span>
                <table style="width:100%">
                    <tr>
                        
                        <td class="tdstyle"><strong>Operating Company:</strong><span style="color:red !important">*</span></td>
                        <td class="tdstyle">
                            <apex:InputField value="{!record.Operating_Company__c}" Id="operatingCompany" ><!--onchange="rerenderDepot();"-->
                                <apex:actionSupport event="onchange" reRender="depotpanel" />
                            </apex:InputField>
                            <div class="errorMsg" style="display:{!IF( isCompanyError, 'block;', 'none;')}; color:#c23934;">
                                <strong>Error:</strong>&nbsp; You must enter this value.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstyle"><strong>Area:</strong></td>
                        <td class="tdstyle"><apex:InputField value="{!record.Region__c}"></apex:InputField></td>
                    </tr>
                    <tr>
                        <td class="tdstyle"><strong>Route Number:</strong></td>
                        <td class="tdstyle"><apex:InputField value="{!record.Route__c}"></apex:InputField></td>
                    </tr>
                    <tr>
                        <td class="tdstyle"><strong>Depot:</strong></td>
                        <td class="tdstyle"><apex:outputPanel id="depotpanel"><apex:InputField value="{!record.Depot__c}"></apex:InputField></apex:outputPanel></td>
                    </tr>
                    <tr>
                        <td class="tdstyle"><strong>Case Origin:<span style="color:red !important">*</span></strong></td>
                        <td class="tdstyle">
                            <apex:selectRadio value="{!record.Origin}">
                                <apex:selectoptions value="{!CaseOrigin}"></apex:selectoptions>
                            </apex:selectRadio>
                            <div class="errorMsg" style="display:{!IF( isOriginError, 'block;', 'none;')}; color:#c23934;">
                                <strong>Error:</strong>&nbsp; You must enter this value.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstyle"><strong>Description:</strong></td>
                    </tr>
                    <tr>
                        <td colspan="2"><apex:InputField value="{!record.Description}" style="width: 98%;margin: 1%;" ></apex:InputField></td>
                    </tr>
                </table>
                
                <apex:outputPanel styleClass="tdWebform" style="line-height:41px;" rendered="{!isCaseByWeb}">
                    <strong>WebForm information:    </strong>
                    <table style="border: 1px solid black;background-color: lightgray;margin: 1%;width: 98%;" class="tdstyle">
                        <tr>
                            <td colspan="2" class="tdstyle">
                                Reason: <apex:outputField value="{!record.Reason__c}" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdWebform">
                                <u>Incident</u><br/>
                                    <apex:outputPanel rendered="{!IF(record.Incident_Date__c != null,true,false)}" >
                                    Date: <apex:outputField value="{!record.Incident_Date__c}" /><br />
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(record.Incident_Time__c != null,true,false)}" >
                                    Time: <apex:outputField value="{!record.Incident_Time__c}" /><br />
                                </apex:outputPanel>   
                                <apex:outputPanel rendered="{!IF(AND(record.Incident_Location__c != null, record.Incident_Location__c != ''),true,false)}" >
                                    Location: <apex:outputField value="{!record.Incident_Location__c}" /><br />
                                </apex:outputPanel> 
                                <apex:outputPanel rendered="{!IF(AND(record.Incident_Stop__c != null, record.Incident_Stop__c != ''),true,false)}" >
                                    Stop: <apex:outputField value="{!record.Incident_Stop__c}" /><br />
                                </apex:outputPanel> 
                            </td>
                            <td class="tdWebform">
                                <u>Driver</u><br/>
                                <apex:outputPanel rendered="{!IF(record.Driver_Number__c != null,true,false)}" >
                                    Number: <apex:outputField value="{!record.Driver_Number__c}" /><br />
                                </apex:outputPanel> 
                                <apex:outputPanel rendered="{!IF(AND(record.Driver_Name__c != null, record.Driver_Name__c != ''),true,false)}" >
                                    Name: <apex:outputField value="{!record.Driver_Name__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.Driver_Description__c != null, record.Driver_Description__c != ''),true,false)}" >
                                    Description: <apex:outputField value="{!record.Driver_Description__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                        <tr>
                            <td class="tdWebform">
                                <u>Vehicle</u><br/>
                                <apex:outputPanel rendered="{!IF(AND(record.Vehicle_Registration__c != null, record.Vehicle_Registration__c != ''),true,false)}" >
                                    Registration: <apex:outputField value="{!record.Vehicle_Registration__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.Vehicle_Type__c != null, record.Vehicle_Type__c != ''),true,false)}" >
                                    Type: <apex:outputField value="{!record.Vehicle_Type__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                            <td class="tdWebform">
                                <u>Ticket</u><br/>
                                <apex:outputPanel rendered="{!IF(AND(record.Ticket_Number__c != null, record.Ticket_Number__c != ''),true,false)}" >
                                    Number: <apex:outputField value="{!record.Ticket_Number__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.Ticket_Type__c != null, record.Ticket_Type__c != ''),true,false)}" >
                                    Type: <apex:outputField value="{!record.Ticket_Type__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                        </tr>
                        <tr>&nbsp;<td></td><td>&nbsp;</td></tr>
                         <tr>
                            <td class="tdWebform" colspan="2">
                                <u>Property</u><br/>
                                <apex:outputPanel rendered="{!IF(AND(record.LPType__c != null, record.LPType__c != ''),true,false)}" >
                                    Type: <apex:outputField value="{!record.LPType__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.LPBrand__c != null, record.LPBrand__c != ''),true,false)}" >
                                    Brand: <apex:outputField value="{!record.LPBrand__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.LPColour__c != null, record.LPColour__c != ''),true,false)}" >
                                    Colour: <apex:outputField value="{!record.LPColour__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.LPMoney__c != null, record.LPMoney__c != ''),true,false)}" >
                                    Money: <apex:outputField value="{!record.LPMoney__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                        </tr>
                    </table>
                </apex:outputPanel>
                
                <apex:outputPanel >
                    <table style="background-color:#D5045F;border-top: 6px solid #0C376E;width:100%">
                        <tr>
                            <td class="tdstyle" style="text-align:right;">
                                <apex:commandButton styleclass="buttonStyle" style="background:#1A2D58;color:white;margin-top: 20px;margin-bottom: 20px;border-top-left-radius: 5px;border-bottom-right-radius: 5px; border-radius: 5px;margin-right: 30px;" action="{!continueLevel1}" value="CONTINUE" rerender="header,lvl1,lvl2,lvl3,lvl4,lvl5,lvl6,lvl7" oncomplete="focusTop();"></apex:commandButton> 
                            </td>
                        </tr>
                    </table>
                </apex:outputPanel>
            </apex:actionRegion>
        </apex:outputPanel>
        
        <!---------  End Screen 1 ---------->
        
        <!---------  Start Screen 2 - Displays Case Reasons ---------->
        
        <apex:outputPanel id="lvl2" style="margin-left: 20px;line-height:41px;display:{!IF(isFirstLvl2,'block','none')}">
            <apex:actionRegion >
                <span class="tdstyle" onload="focusTop();"><strong>Please select the reason for the call:</strong></span><br/>
                <apex:outputPanel styleclass="errorMsg" id="Err1" rendered="{!isReason}" style="color:#c23934;">{!showReason}</apex:outputPanel>
                <table style="width:100%; margin-left: 20px;" border="0">
                    <tr>
                        <td>
                            <strong><apex:selectRadio value="{!record.Type}" layout="pageDirection" > 
                                <apex:selectOptions value="{!items}" />
                                <!--<apex:actionsupport event="onclick" action="{!continueLevel2}" rerender="header,lvl1,lvl2,lvl3,lvl5"/>-->
                                </apex:selectRadio><p/>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!--solution for Sprint 4 OBN - 2-->
                            <apex:outputPanel styleClass="tdWebform" rendered="{!IF(AND(isCaseByWeb,record.Type == 'Unknown'),true,false)}">
                                <strong>To be confirmed by agent</strong><br/>
                            </apex:outputPanel>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstyle"><strong>Description:</strong></td>
                    </tr>
                    <tr>   
                        <td colspan="1"><apex:InputField value="{!record.Description}" style="width: 97%;margin: 1%;"></apex:InputField></td> 
                    </tr>
                    <tr>
                        <td style="background-color:#1A2D58;">
                        </td>
                    </tr>
                </table>
                
                
                <apex:outputPanel styleClass="tdWebform" style="line-height:41px;" rendered="{!isCaseByWeb}">
                    <strong>WebForm information:    </strong>
                    <table style="border: 1px solid black;background-color: lightgray;margin: 1%;width: 98%;" class="tdstyle">
                        <tr>
                            <td colspan="2" class="tdstyle">
                                Reason: <apex:outputField value="{!record.Reason__c}" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdWebform">
                                <u>Incident</u><br/>
                                    <apex:outputPanel rendered="{!IF(record.Incident_Date__c != null,true,false)}" >
                                    Date: <apex:outputField value="{!record.Incident_Date__c}" /><br />
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(record.Incident_Time__c != null,true,false)}" >
                                    Time: <apex:outputField value="{!record.Incident_Time__c}" /><br />
                                </apex:outputPanel>   
                                <apex:outputPanel rendered="{!IF(AND(record.Incident_Location__c != null, record.Incident_Location__c != ''),true,false)}" >
                                    Location: <apex:outputField value="{!record.Incident_Location__c}" /><br />
                                </apex:outputPanel> 
                                <apex:outputPanel rendered="{!IF(AND(record.Incident_Stop__c != null, record.Incident_Stop__c != ''),true,false)}" >
                                    Stop: <apex:outputField value="{!record.Incident_Stop__c}" /><br />
                                </apex:outputPanel> 
                            </td>
                            <td class="tdWebform">
                                <u>Driver</u><br/>
                                <apex:outputPanel rendered="{!IF(record.Driver_Number__c != null,true,false)}" >
                                    Number: <apex:outputField value="{!record.Driver_Number__c}" /><br />
                                </apex:outputPanel> 
                                <apex:outputPanel rendered="{!IF(AND(record.Driver_Name__c != null, record.Driver_Name__c != ''),true,false)}" >
                                    Name: <apex:outputField value="{!record.Driver_Name__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.Driver_Description__c != null, record.Driver_Description__c != ''),true,false)}" >
                                    Description: <apex:outputField value="{!record.Driver_Description__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                        <tr>
                            <td class="tdWebform">
                                <u>Vehicle</u><br/>
                                <apex:outputPanel rendered="{!IF(AND(record.Vehicle_Registration__c != null, record.Vehicle_Registration__c != ''),true,false)}" >
                                    Registration: <apex:outputField value="{!record.Vehicle_Registration__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.Vehicle_Type__c != null, record.Vehicle_Type__c != ''),true,false)}" >
                                    Type: <apex:outputField value="{!record.Vehicle_Type__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                            <td class="tdWebform">
                                <u>Ticket</u><br/>
                                <apex:outputPanel rendered="{!IF(AND(record.Ticket_Number__c != null, record.Ticket_Number__c != ''),true,false)}" >
                                    Number: <apex:outputField value="{!record.Ticket_Number__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.Ticket_Type__c != null, record.Ticket_Type__c != ''),true,false)}" >
                                    Type: <apex:outputField value="{!record.Ticket_Type__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                        </tr>
                        <tr>&nbsp;<td></td><td>&nbsp;</td></tr>
                         <tr>
                            <td class="tdWebform" colspan="2">
                                <u>Property</u><br/>
                                <apex:outputPanel rendered="{!IF(AND(record.LPType__c != null, record.LPType__c != ''),true,false)}" >
                                    Type: <apex:outputField value="{!record.LPType__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.LPBrand__c != null, record.LPBrand__c != ''),true,false)}" >
                                    Brand: <apex:outputField value="{!record.LPBrand__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.LPColour__c != null, record.LPColour__c != ''),true,false)}" >
                                    Colour: <apex:outputField value="{!record.LPColour__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.LPMoney__c != null, record.LPMoney__c != ''),true,false)}" >
                                    Money: <apex:outputField value="{!record.LPMoney__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                        </tr>
                    </table>
                </apex:outputPanel>
                
                <apex:outputPanel >
                    <table style="background-color:#D5045F;border-top: 6px solid #0C376E;width:100%" border="0" >
                        <tr>
                            <td class="tdstyle">
                                <apex:commandButton styleclass="buttonStyle" value="BACK" action="{!backLvl1}" style="margin-left:20px;margin-top: 20px;margin-bottom: 20px;background:#1A2D58;color:white;border-top-left-radius: 5px;border-bottom-right-radius: 5px; border-radius: 5px;padding:1%;" rerender="header,lvl1,lvl2,lvl3,lvl4,lvl5,lvl6,lvl7" oncomplete="focusTop();"/>
                            </td>
                            <td class="tdstyle" style="text-align:right;">
                                <apex:commandButton styleclass="buttonStyle" action="{!continueLevel2}" value="CONTINUE" style="background:#1A2D58;color:white;margin-top: 20px;margin-bottom: 20px;border-top-left-radius: 5px;border-bottom-right-radius: 5px; border-radius: 5px;margin-right: 30px; padding: 1%;" rerender="header,lvl1,lvl2,lvl3,lvl4,lvl5,Err1,lvl6,lvl7" oncomplete="focusTop();"/>
                            </td>
                        </tr>
                    </table>
                </apex:outputPanel>
            </apex:actionRegion>
        </apex:outputPanel>
        <!---------  End Screen 2 ---------->
        
        <!---------  Start Screen 3 - Displays Case Sub Types---------->
        <apex:outputPanel id="lvl3" style="margin-left: 20px;line-height:41px;display:{!IF(isFirstLvl3,'block','none')}"> 
            <apex:actionRegion >
                <span class="tdstyle" onload="focusTop();"><strong>Please select the sub-type of the raised case:</strong></span><br/>
                <apex:outputPanel styleclass="errorMsg" id="Err2" rendered="{!isSubType}" style="color:#c23934;">{!showSubType}</apex:outputPanel>
                <table style="width:100%; margin-left: 20px;" border="0" onload="focusTop();">
                    <tr>
                        <td>
                            <strong><apex:selectRadio value="{!record.Sub_Type__c}" layout="pageDirection" >
                                <apex:selectOptions value="{!lstoptions}" />
                                <!--<apex:actionsupport event="onclick" action="{!continueLevel3}" rerender="header,lvl1,lvl2,lvl3,lvl4,lvl5"/>-->
                                </apex:selectRadio><p/>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!--solution for Sprint 4 OBN - 2-->
                            <apex:outputPanel styleClass="tdWebform" rendered="{!IF(AND(isCaseByWeb,record.Sub_Type__c == 'Unknown'),true,false)}">
                                <strong>To be confirmed by agent</strong><br/>
                            </apex:outputPanel>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstyle"><strong>Description:</strong></td>
                    </tr>
                    <tr>   
                        <td colspan="1"><apex:InputField value="{!record.Description}" style="width: 97%;margin: 1%;"></apex:InputField></td>
                    </tr>
                    
                    <tr>
                        <td style="background-color:#1A2D58;">
                        </td>
                    </tr>
                </table>   
                
                <apex:outputPanel styleClass="tdWebform" style="line-height:41px;" rendered="{!isCaseByWeb}">
                    <strong>WebForm information:    </strong>
                    <table style="border: 1px solid black;background-color: lightgray;margin: 1%;width: 98%;" class="tdstyle">
                        <tr>
                            <td colspan="2" class="tdstyle">
                                Reason: <apex:outputField value="{!record.Reason__c}" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdWebform">
                                <u>Incident</u><br/>
                                    <apex:outputPanel rendered="{!IF(record.Incident_Date__c != null,true,false)}" >
                                    Date: <apex:outputField value="{!record.Incident_Date__c}" /><br />
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(record.Incident_Time__c != null,true,false)}" >
                                    Time: <apex:outputField value="{!record.Incident_Time__c}" /><br />
                                </apex:outputPanel>   
                                <apex:outputPanel rendered="{!IF(AND(record.Incident_Location__c != null, record.Incident_Location__c != ''),true,false)}" >
                                    Location: <apex:outputField value="{!record.Incident_Location__c}" /><br />
                                </apex:outputPanel> 
                                <apex:outputPanel rendered="{!IF(AND(record.Incident_Stop__c != null, record.Incident_Stop__c != ''),true,false)}" >
                                    Stop: <apex:outputField value="{!record.Incident_Stop__c}" /><br />
                                </apex:outputPanel> 
                            </td>
                            <td class="tdWebform">
                                <u>Driver</u><br/>
                                <apex:outputPanel rendered="{!IF(record.Driver_Number__c != null,true,false)}" >
                                    Number: <apex:outputField value="{!record.Driver_Number__c}" /><br />
                                </apex:outputPanel> 
                                <apex:outputPanel rendered="{!IF(AND(record.Driver_Name__c != null, record.Driver_Name__c != ''),true,false)}" >
                                    Name: <apex:outputField value="{!record.Driver_Name__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.Driver_Description__c != null, record.Driver_Description__c != ''),true,false)}" >
                                    Description: <apex:outputField value="{!record.Driver_Description__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                        <tr>
                            <td class="tdWebform">
                                <u>Vehicle</u><br/>
                                <apex:outputPanel rendered="{!IF(AND(record.Vehicle_Registration__c != null, record.Vehicle_Registration__c != ''),true,false)}" >
                                    Registration: <apex:outputField value="{!record.Vehicle_Registration__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.Vehicle_Type__c != null, record.Vehicle_Type__c != ''),true,false)}" >
                                    Type: <apex:outputField value="{!record.Vehicle_Type__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                            <td class="tdWebform">
                                <u>Ticket</u><br/>
                                <apex:outputPanel rendered="{!IF(AND(record.Ticket_Number__c != null, record.Ticket_Number__c != ''),true,false)}" >
                                    Number: <apex:outputField value="{!record.Ticket_Number__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.Ticket_Type__c != null, record.Ticket_Type__c != ''),true,false)}" >
                                    Type: <apex:outputField value="{!record.Ticket_Type__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                        </tr>
                        <tr>&nbsp;<td></td><td>&nbsp;</td></tr>
                         <tr>
                            <td class="tdWebform" colspan="2">
                                <u>Property</u><br/>
                                <apex:outputPanel rendered="{!IF(AND(record.LPType__c != null, record.LPType__c != ''),true,false)}" >
                                    Type: <apex:outputField value="{!record.LPType__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.LPBrand__c != null, record.LPBrand__c != ''),true,false)}" >
                                    Brand: <apex:outputField value="{!record.LPBrand__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.LPColour__c != null, record.LPColour__c != ''),true,false)}" >
                                    Colour: <apex:outputField value="{!record.LPColour__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.LPMoney__c != null, record.LPMoney__c != ''),true,false)}" >
                                    Money: <apex:outputField value="{!record.LPMoney__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                        </tr>
                    </table>
                </apex:outputPanel>
                
                <apex:outputPanel id="lvl3btn">
                    <table style="background-color:#D5045F;border-top: 6px solid #0C376E;width:100%" border="0" >
                        <tr>
                            <td class="tdstyle">
                                <apex:commandButton styleclass="buttonStyle" value="BACK" action="{!backLvl2}" style="margin-left:20px;margin-top: 20px;margin-bottom: 20px;background:#1A2D58;color:white;border-top-left-radius: 5px;border-bottom-right-radius: 5px; border-radius: 5px;padding:1%;" rerender="header,lvl1,lvl2,lvl3,lvl4,lvl5,lvl6,lvl7" oncomplete="focusTop();"/>
                            </td>
                            <td class="tdstyle" style="text-align:right;">
                                <apex:commandButton value="CONTINUE" action="{!continueLevel3}" styleclass="buttonStyle" style="background:#1A2D58;color:white;margin-top: 20px;margin-bottom: 20px;border-top-left-radius: 5px;border-bottom-right-radius: 5px; border-radius: 5px;margin-right: 30px; padding: 1%;" rerender="header,lvl1,lvl2,lvl3,lvl4,lvl5,Err2,lvl6,lvl7" oncomplete="focusTop();"/>
                            </td>
                        </tr>
                    </table>
                </apex:outputPanel>
            </apex:actionRegion>
        </apex:outputPanel>
        
        <!---------  End Screen 3 ---------->
        
        <!---------  Start Screen 4 - Displays Case Category---------->
        
        <apex:outputPanel id="lvl4" style="margin-left: 20px;line-height:41px;display:{!IF(isFirstLvl4,'block','none')}">
            <apex:actionRegion >
                <!--<div id="Err3" style="display:{!IF(isCategory, 'block;', 'none;')}">{!showCategory}</div>--->
                <span class="tdstyle" onload="focusTop();"><strong>Please select the category of the raised case:</strong></span><br/>
                <apex:outputPanel styleclass="errorMsg" id="Err3" rendered="{!isCategory}" style="color:#c23934;">{!showCategory}</apex:outputPanel>
                <table style="width:100%; margin-left: 20px;" border="0">
                    <tr>
                        <td>
                            <strong><apex:selectRadio value="{!record.Category__c}" layout="pageDirection" >
                                <apex:selectOptions value="{!lstoptionsSubType}" />
                                </apex:selectRadio><p/>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!--solution for Sprint 4 OBN - 2-->
                            <apex:outputPanel styleClass="tdWebform" rendered="{!IF(AND(isCaseByWeb,record.Category__c == 'Unknown'),true,false)}">
                                <strong>To be confirmed by agent</strong>
                            </apex:outputPanel><br/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstyle"><strong>Description:</strong></td>
                    </tr>
                    <tr>   
                        <td colspan="1"><apex:inputField value="{!record.Description}" style="width: 97%;margin: 1%;"></apex:inputField></td>
                    </tr>
                    <tr>
                        <td style="background-color:#1A2D58;">
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:#1A2D58;">
                        </td>
                    </tr>
                </table>     
                
                
                <apex:outputPanel styleClass="tdWebform" style="line-height:41px;" rendered="{!isCaseByWeb}">
                    <strong>WebForm information:    </strong>
                    <table style="border: 1px solid black;background-color: lightgray;margin: 1%;width: 98%;" class="tdstyle">
                        <tr>
                            <td colspan="2" class="tdstyle">
                                Reason: <apex:outputField value="{!record.Reason__c}" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdWebform">
                                <u>Incident</u><br/>
                                    <apex:outputPanel rendered="{!IF(record.Incident_Date__c != null,true,false)}" >
                                    Date: <apex:outputField value="{!record.Incident_Date__c}" /><br />
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(record.Incident_Time__c != null,true,false)}" >
                                    Time: <apex:outputField value="{!record.Incident_Time__c}" /><br />
                                </apex:outputPanel>   
                                <apex:outputPanel rendered="{!IF(AND(record.Incident_Location__c != null, record.Incident_Location__c != ''),true,false)}" >
                                    Location: <apex:outputField value="{!record.Incident_Location__c}" /><br />
                                </apex:outputPanel> 
                                <apex:outputPanel rendered="{!IF(AND(record.Incident_Stop__c != null, record.Incident_Stop__c != ''),true,false)}" >
                                    Stop: <apex:outputField value="{!record.Incident_Stop__c}" /><br />
                                </apex:outputPanel> 
                            </td>
                            <td class="tdWebform">
                                <u>Driver</u><br/>
                                <apex:outputPanel rendered="{!IF(record.Driver_Number__c != null,true,false)}" >
                                    Number: <apex:outputField value="{!record.Driver_Number__c}" /><br />
                                </apex:outputPanel> 
                                <apex:outputPanel rendered="{!IF(AND(record.Driver_Name__c != null, record.Driver_Name__c != ''),true,false)}" >
                                    Name: <apex:outputField value="{!record.Driver_Name__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.Driver_Description__c != null, record.Driver_Description__c != ''),true,false)}" >
                                    Description: <apex:outputField value="{!record.Driver_Description__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                        <tr>
                            <td class="tdWebform">
                                <u>Vehicle</u><br/>
                                <apex:outputPanel rendered="{!IF(AND(record.Vehicle_Registration__c != null, record.Vehicle_Registration__c != ''),true,false)}" >
                                    Registration: <apex:outputField value="{!record.Vehicle_Registration__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.Vehicle_Type__c != null, record.Vehicle_Type__c != ''),true,false)}" >
                                    Type: <apex:outputField value="{!record.Vehicle_Type__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                            <td class="tdWebform">
                                <u>Ticket</u><br/>
                                <apex:outputPanel rendered="{!IF(AND(record.Ticket_Number__c != null, record.Ticket_Number__c != ''),true,false)}" >
                                    Number: <apex:outputField value="{!record.Ticket_Number__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.Ticket_Type__c != null, record.Ticket_Type__c != ''),true,false)}" >
                                    Type: <apex:outputField value="{!record.Ticket_Type__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                        </tr>
                        <tr>&nbsp;<td></td><td>&nbsp;</td></tr>
                         <tr>
                            <td class="tdWebform" colspan="2">
                                <u>Property</u><br/>
                                <apex:outputPanel rendered="{!IF(AND(record.LPType__c != null, record.LPType__c != ''),true,false)}" >
                                    Type: <apex:outputField value="{!record.LPType__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.LPBrand__c != null, record.LPBrand__c != ''),true,false)}" >
                                    Brand: <apex:outputField value="{!record.LPBrand__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.LPColour__c != null, record.LPColour__c != ''),true,false)}" >
                                    Colour: <apex:outputField value="{!record.LPColour__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.LPMoney__c != null, record.LPMoney__c != ''),true,false)}" >
                                    Money: <apex:outputField value="{!record.LPMoney__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                        </tr>
                    </table>
                </apex:outputPanel>
                
                <apex:outputPanel id="lvl4btn">
                    <table style="background-color:#D5045F;border-top: 6px solid #0C376E;width:100%" border="0" >
                        <tr>
                            <td class="tdstyle">
                                <apex:commandButton value="BACK" action="{!backLvl3}" styleclass="buttonStyle" style="margin-left:20px;margin-top: 20px;margin-bottom: 20px;background:#1A2D58;color:white;border-top-left-radius: 5px;border-bottom-right-radius: 5px; border-radius: 5px;padding:1%;" rerender="header,lvl1,lvl2,lvl3,lvl4,lvl5,lvl6,lvl7" oncomplete="focusTop();"/>
                            </td>
                            <td class="tdstyle" style="text-align:right;">
                                <apex:commandButton value="CONTINUE" action="{!continueLevel5}" styleclass="buttonStyle" style="background:#1A2D58;color:white;margin-top: 20px;margin-bottom: 20px;border-top-left-radius: 5px;border-bottom-right-radius: 5px; border-radius: 5px;margin-right: 30px; padding: 1%;" rerender="header,lvl1,lvl2,lvl3,lvl4,lvl5,Err3,lvl6,lvl7" oncomplete="focusTop();"/>
                            </td>
                        </tr>
                    </table>
                </apex:outputPanel>
            </apex:actionRegion>
        </apex:outputPanel>
        
        <!---------  End Screen 4 ---------->
        
        <!---------  Start Screen 5 - Displays Case Details and Sub Details---------->
        
        <apex:outputPanel id="lvl5" style="margin-left: 20px;line-height:41px;display:{!IF(isFirstLvl5,'block','none')}"> 
            <apex:actionRegion >
                <span class="tdstyle" onload="focusTop();"><strong>Please provide details for the raised case:</strong></span><br/>
                <apex:outputPanel styleclass="errorMsg" id="Err5" rendered="{!isDetails}" style="color:#c23934;">{!showDetails}</apex:outputPanel>
                <table style="width:100%; margin-left: 20px;" border="0">
                    <apex:variable var="detailRow" value="{!0}"   />
                    <apex:repeat value="{!lstWrapper}" var="wrapperkey">
                        <tr class="details">
                            <td colspan="2">
                                <apex:outputPanel id="detailPanel">
                                    <apex:outputPanel rendered="{!IF(mapPiclistValueToDisplayType[wrapperkey.strWrapCaseDetails] == 'Checkbox', true,false)}"> 
                                        <apex:outputPanel rendered="{!IF(AND(wrapperkey.strWrapCaseDetails != 'Compensation provided',wrapperkey.strWrapCaseDetails != 'Refund', wrapperkey.strWrapCaseDetails != strtDriverDetails,wrapperkey.strWrapCaseDetails != 'Marketing Opt In/preferences'), true,false)}" >
                                            <apex:inputCheckbox value="{!wrapperkey.isDetailschecked}" onchange="if(this.checked) this.parentNode.parentNode.parentNode.parentNode.parentNode.nextSibling.style.display='block'; else this.parentNode.parentNode.parentNode.parentNode.parentNode.nextSibling.style.display='none'; subdetailRerender(this,'{!wrapperkey.selectedSubDetails}','{!wrapperkey.strWrapCaseDetails}');"/>{!wrapperkey.strWrapCaseDetails}
                                        </apex:outputPanel>
                                        <apex:outputPanel id="cmpAmt" rendered="{!IF(wrapperkey.strWrapCaseDetails == 'Compensation provided', true,false)}" >
                                            <apex:inputCheckbox value="{!wrapperkey.isDetailschecked}" onchange="if(this.checked) this.parentNode.parentNode.parentNode.parentNode.parentNode.nextSibling.style.display='block'; else this.parentNode.parentNode.parentNode.parentNode.parentNode.nextSibling.style.display='none';compensationChange();"/>{!wrapperkey.strWrapCaseDetails}
                                                <!--Compensation Amount: &nbsp;<apex:inputField value="{!record.Compensation_Amount__c}" styleclass="compensationAmt" onkeypress="return currencyValidation(this,event)" />  -->
                                        </apex:outputPanel>
                                        <apex:outputPanel id="RefundAmt" rendered="{!IF(wrapperkey.strWrapCaseDetails == 'Refund', true,false)}" >
                                            <apex:inputCheckbox value="{!wrapperkey.isDetailschecked}" onchange="if(this.checked) this.parentNode.parentNode.parentNode.parentNode.parentNode.nextSibling.style.display='block'; else this.parentNode.parentNode.parentNode.parentNode.parentNode.nextSibling.style.display='none';refundChange()"/>{!wrapperkey.strWrapCaseDetails}
                                                <!--Compensation Amount: &nbsp;<apex:inputField value="{!record.Compensation_Amount__c}" styleclass="compensationAmt" onkeypress="return currencyValidation(this,event)" />  -->
                                        </apex:outputPanel>
                                        <apex:outputPanel id="unknowDriverDetails" rendered="{!IF(wrapperkey.strWrapCaseDetails == strtDriverDetails, true,false)}" >
                                            <apex:inputCheckbox value="{!wrapperkey.isDetailschecked}" onchange="if(this.checked) this.parentNode.parentNode.parentNode.parentNode.parentNode.nextSibling.style.display='block'; else this.parentNode.parentNode.parentNode.parentNode.parentNode.nextSibling.style.display='none';"/>{!wrapperkey.strWrapCaseDetails}
                                                <!--Compensation Amount: &nbsp;<apex:inputField value="{!record.Compensation_Amount__c}" styleclass="compensationAmt" onkeypress="return currencyValidation(this,event)" />  -->
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                    
                                    <apex:outputPanel rendered="{!IF(AND(mapPiclistValueToDisplayType[wrapperkey.strWrapCaseDetails] == 'Radio',detailRow <=0), true,false)}" >
                                        <apex:outputPanel rendered="{!IF(wrapperkey.strWrapCaseDetails == strSelectedDetail,true,false)}">
                                            <input type="radio" name="CaseDetails" value="{!wrapperkey.strWrapCaseDetails}" checked="checked" onclick="for (let el of document.querySelectorAll('.subdetails')) el.style.display = 'none';this.parentNode.parentNode.parentNode.parentNode.parentNode.nextSibling.style.display='block';" onchange="getSelectedValueAF(this.value);"/> {!wrapperkey.strWrapCaseDetails}<br />
                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{!IF(wrapperkey.strWrapCaseDetails != strSelectedDetail,true,false)}">
                                            <input type="radio" name="CaseDetails" value="{!wrapperkey.strWrapCaseDetails}"  onclick="for (let el of document.querySelectorAll('.subdetails')) el.style.display = 'none';this.parentNode.parentNode.parentNode.parentNode.parentNode.nextSibling.style.display='block';" onchange="getSelectedValueAF(this.value);"/> {!wrapperkey.strWrapCaseDetails}<br />
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                    
                                    <apex:outputPanel rendered="{!IF(mapPiclistValueToDisplayType[wrapperkey.strWrapCaseDetails] == 'None', true,false)}">
                                        Driver Details: &nbsp;<apex:inputField value="{!record.Driver_Details__c}" /> 
                                    </apex:outputPanel>
                                </apex:outputPanel>
                            </td>
                        </tr>
                        <tr class="subdetails" style="display:{!IF(wrapperkey.isDetailschecked, 'block','none')}"><!--display:{!IF(isEdit, 'block','none')}-->
                            <td style="width: 62px;"></td>
                            <td> 
                                <apex:outputPanel id="subdetailsPanel" rendered="{!IF(wrapperkey.strWrapCaseDetails != 'Compensation provided', true,false)}">
                                    <apex:repeat value="{!wrapperkey.lstSubDetails}" var="subkey">
                                        <apex:outputPanel rendered="{!IF(subkey.strWrapCaseSubDetails != 'Unknown', true,false)}">
                                            <apex:outputPanel rendered="{!IF(mapPiclistValueToDisplayType[subkey.strWrapCaseSubDetails] == 'Checkbox', true,false)}">
                                                <apex:outputPanel rendered="{!IF(subkey.strWrapCaseSubDetails != 'Compensation provided', true,false)}">
                                                    <apex:inputCheckbox value="{!subkey.isSubDetailsChecked}"  />{!subkey.strWrapCaseSubDetails} 
                                                </apex:outputPanel>
                                                
                                                <apex:outputPanel rendered="{!IF(subkey.strWrapCaseSubDetails == 'Compensation provided', true,false)}" ><!--strSelectedDetail == 'Compensation provided'-->
                                                    <apex:inputCheckbox id="amt" value="{!subkey.isSubDetailsChecked}" onclick="if(this.checked) this.nextSibling.nextSibling.style.display='block'; else this.nextSibling.nextSibling.style.display='none'" onchange="compensationChange();"/>{!subkey.strWrapCaseSubDetails} 
                                                    <apex:outputPanel id="spanAmt" style="display:none" >Compensation Amount: &nbsp;<apex:outputPanel id="cmp1" ><apex:inputField value="{!record.Compensation_Amount__c}" styleclass="compensationAmt" onkeypress="return currencyValidation(this,event);" onblur="setCompensationAMT(this.value);" /></apex:outputPanel> </apex:outputPanel> 
                                                </apex:outputPanel><br/>
                                                
                                                <apex:outputPanel rendered="{!IF(subkey.strWrapCaseSubDetails == 'Refund', true,false)}" ><!--strSelectedDetail == 'Compensation provided'-->
                                                    <apex:inputCheckbox id="refunamt" value="{!subkey.isSubDetailsChecked}" onclick="if(this.checked) this.nextSibling.nextSibling.style.display='block'; else this.nextSibling.nextSibling.style.display='none'" onchange="refundChange();"/>{!subkey.strWrapCaseSubDetails} 
                                                    <apex:outputPanel id="spanRefundAmt" style="display:none" >Refund Amount: &nbsp;<apex:outputPanel id="refundcmp1" ><apex:inputField value="{!record.Refund_Amount__c}" styleclass="compensationAmt" onkeypress="return currencyValidation(this,event);" onblur="setRefundAMT(this.value);"/></apex:outputPanel> </apex:outputPanel> 
                                                </apex:outputPanel>
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                    </apex:repeat>
                                     
                                    <apex:variable value="{!mapCaseDetailsToCaseSubDetails[wrapperkey.strWrapCaseDetails]}"  var="myMap"/  >
                                    <apex:outputPanel rendered="{!IF(myMap.size >0, true,false)}">
                                        <apex:variable var="itemRow" value="{!0}"   />
                                        <apex:repeat value="{!myMap}" var="item">
                                            <apex:outputPanel rendered="{!IF(item != 'Unknown', true,false)}">
                                                <apex:outputPanel rendered="{!IF(itemRow <= 0, true,false)}">
                                                    <apex:outputPanel rendered="{!IF(mapPiclistValueToDisplayType[item] == 'Radio', true,false)}" id="SubDetailPanel1">
                                                            <apex:selectRadio value="{!wrapperkey.selectedSubDetails}" onchange="getSelectedSubDetailsValueAF(this.value,'{!wrapperkey.strWrapCaseDetails}');"> 
                                                                <apex:selectOptions value="{!wrapperkey.mapDetailToSelectOption[wrapperkey.strWrapCaseDetails]}" /> 
                                                            </apex:selectRadio>
                                                    </apex:outputPanel>
                                                </apex:outputPanel>
                                            </apex:outputPanel>
                                            <apex:variable value="{!itemRow+1}" var="itemRow"/>
                                        </apex:repeat>
                                        
                                    </apex:outputPanel>
                                 </apex:outputPanel>
                                
                                <apex:outputPanel id="cmpAmt2" rendered="{!IF(wrapperkey.strWrapCaseDetails == 'Compensation provided', true,false)}" >
                                    Compensation Amount: &nbsp;<apex:inputField value="{!record.Compensation_Amount__c}" styleclass="compensationAmt" onkeypress="return currencyValidation(this,event)" />  
                                </apex:outputPanel>
                                <apex:outputPanel id="refundAmt2" rendered="{!IF(wrapperkey.strWrapCaseDetails == 'Refund', true,false)}" >
                                    Refund Amount: &nbsp;<apex:inputField value="{!record.Refund_Amount__c}" styleclass="compensationAmt" onkeypress="return currencyValidation(this,event)" />  
                                </apex:outputPanel> 
                                <apex:outputPanel id="helpText" rendered="{!IF(wrapperkey.strWrapCaseDetails == strtDriverDetails, true,false)}" >
                                    <span style="font-style: italic;">Provide information to Description  </span>
                                </apex:outputPanel>
                            </td>
                        </tr>
                        
                    </apex:repeat>
                    <tr>
                        <td colspan="2" >
                            <apex:outputPanel rendered="{!isMKT}">
                                <strong>Marketing Options: </strong>
                                <apex:selectRadio value="{!record.Marketing_Options__c}" style="width:50%"> 
                                    <apex:selectOptions value="{!MKTOptions}" /> 
                                </apex:selectRadio>
                            </apex:outputPanel>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <strong>Date of Reported Event:   </strong>
                            <apex:inputField value="{!record.Date_of_Reported_Event__c}" /><br/>
                            <apex:outputPanel styleclass="errorMsg" id="Err4" rendered="{!isDateValidation}" style="color:#c23934;">{!strDateValidation}</apex:outputPanel>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdstyle"><strong>Description:</strong></td>
                    </tr>
                    <tr>
                        <td colspan="1"><apex:inputField value="{!record.Description}" style="width: 98%;margin: 1%;" ></apex:inputField></td>
                    </tr>
                    <tr>
                        <td style="background-color:#1A2D58;">
                        </td>
                    </tr>
                </table>
                
                <apex:outputPanel styleClass="tdWebform" style="line-height:41px;" rendered="{!isCaseByWeb}">
                    <strong>WebForm information:    </strong>
                    <table style="border: 1px solid black;background-color: lightgray;margin: 1%;width: 98%;" class="tdstyle">
                        <tr>
                            <td colspan="2" class="tdstyle">
                                Reason: <apex:outputField value="{!record.Reason__c}" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdWebform">
                                <u>Incident</u><br/>
                                    <apex:outputPanel rendered="{!IF(record.Incident_Date__c != null,true,false)}" >
                                    Date: <apex:outputField value="{!record.Incident_Date__c}" /><br />
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(record.Incident_Time__c != null,true,false)}" >
                                    Time: <apex:outputField value="{!record.Incident_Time__c}" /><br />
                                </apex:outputPanel>   
                                <apex:outputPanel rendered="{!IF(AND(record.Incident_Location__c != null, record.Incident_Location__c != ''),true,false)}" >
                                    Location: <apex:outputField value="{!record.Incident_Location__c}" /><br />
                                </apex:outputPanel> 
                                <apex:outputPanel rendered="{!IF(AND(record.Incident_Stop__c != null, record.Incident_Stop__c != ''),true,false)}" >
                                    Stop: <apex:outputField value="{!record.Incident_Stop__c}" /><br />
                                </apex:outputPanel> 
                            </td>
                            <td class="tdWebform">
                                <u>Driver</u><br/>
                                <apex:outputPanel rendered="{!IF(record.Driver_Number__c != null,true,false)}" >
                                    Number: <apex:outputField value="{!record.Driver_Number__c}" /><br />
                                </apex:outputPanel> 
                                <apex:outputPanel rendered="{!IF(AND(record.Driver_Name__c != null, record.Driver_Name__c != ''),true,false)}" >
                                    Name: <apex:outputField value="{!record.Driver_Name__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.Driver_Description__c != null, record.Driver_Description__c != ''),true,false)}" >
                                    Description: <apex:outputField value="{!record.Driver_Description__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                        <tr>
                            <td class="tdWebform">
                                <u>Vehicle</u><br/>
                                <apex:outputPanel rendered="{!IF(AND(record.Vehicle_Registration__c != null, record.Vehicle_Registration__c != ''),true,false)}" >
                                    Registration: <apex:outputField value="{!record.Vehicle_Registration__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.Vehicle_Type__c != null, record.Vehicle_Type__c != ''),true,false)}" >
                                    Type: <apex:outputField value="{!record.Vehicle_Type__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                            <td class="tdWebform">
                                <u>Ticket</u><br/>
                                <apex:outputPanel rendered="{!IF(AND(record.Ticket_Number__c != null, record.Ticket_Number__c != ''),true,false)}" >
                                    Number: <apex:outputField value="{!record.Ticket_Number__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.Ticket_Type__c != null, record.Ticket_Type__c != ''),true,false)}" >
                                    Type: <apex:outputField value="{!record.Ticket_Type__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                        </tr>
                        <tr>&nbsp;<td></td><td>&nbsp;</td></tr>
                         <tr>
                            <td class="tdWebform" colspan="2">
                                <u>Property</u><br/>
                                <apex:outputPanel rendered="{!IF(AND(record.LPType__c != null, record.LPType__c != ''),true,false)}" >
                                    Type: <apex:outputField value="{!record.LPType__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.LPBrand__c != null, record.LPBrand__c != ''),true,false)}" >
                                    Brand: <apex:outputField value="{!record.LPBrand__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.LPColour__c != null, record.LPColour__c != ''),true,false)}" >
                                    Colour: <apex:outputField value="{!record.LPColour__c}" /><br />
                                </apex:outputPanel>    
                                <apex:outputPanel rendered="{!IF(AND(record.LPMoney__c != null, record.LPMoney__c != ''),true,false)}" >
                                    Money: <apex:outputField value="{!record.LPMoney__c}" /><br />
                                </apex:outputPanel>    
                            </td>
                        </tr>
                    </table>
                </apex:outputPanel>
                
                <apex:outputPanel id="footer3" >
                    <table style="background-color:#D5045F;border-top: 6px solid #0C376E;width:100%" border="0" >
                        <tr>
                            <td>
                                <apex:commandButton value="BACK" action="{!backLvl4}" styleclass="buttonStyle" style="margin-left:20px;margin-top: 20px;margin-bottom: 20px;background:#1A2D58;color:white;border-top-left-radius: 5px;border-bottom-right-radius: 5px; border-radius: 5px;padding:1%;" rerender="cmpAmt,cmpAmt2,header,Err4,Err5,lvl1,lvl2,lvl3,lvl4,lvl5,lvl6,lvl7" oncomplete="focusTop();"/>
                            </td>
                            <td style="text-align:right;"><apex:commandButton action="{!continueLevel6}" value="CONTINUE" styleclass="buttonStyle" style="background:#1A2D58;color:white;margin-top: 20px;margin-bottom: 20px;border-top-left-radius: 5px;border-bottom-right-radius: 5px; border-radius: 5px;margin-right: 30px; padding: 1%;" rerender="cmpAmt,cmpAmt2,Err4,Err5,header,lvl1,lvl2,lvl3,lvl4,lvl5,lvl6,lvl7" oncomplete="focusTop();"/></td>
                        </tr> 
                    </table>
                </apex:outputPanel> 
            </apex:actionRegion>
        </apex:outputPanel>
        
        <!---------  End Screen 5 ---------->
        
        <!---------  Start Screen 6 Displays - new Created Cases---------->
        
        <apex:outputPanel id="lvl6" style="margin-left: 20px;line-height:41px;display:{!IF(isFirstLvl6,'block','none')}">
            <apex:actionRegion >
            <span class="tdstyle">Create associated case/Submit saved cases:</span>
            <table style="width:100%">
                <tr>
                    <td class="tdstyle">
                        <apex:outputPanel rendered="{!IF(lstSavedCases.size >0 , true, false)}" >
                            <table>
                                <tr>
                                    <td><strong>Saved Cases: </strong> </td>
                                    <td style="display:{!IF(lstSavedCases.size > 1, 'block','none')}">
                                        <table>
                                            <tr>
                                                <td>
                                                    
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdstyle">
                                                    <div class="clt">
                                                        <span class="caseButton">
                                                            {!objMasterCase.Subject} 
                                                        </span><br/>
                                                        <ul> 
                                                            <apex:variable var="index" value="{!0}"   />
                                                            <apex:repeat value="{!lstSavedCases}" var="item">
                                                                <!--<li><span class="caseButton" ><a onclick="editAF({!index});">{!lstCaseDescription[index]} </a> </span></li>-->
                                                                <!--{!lstCaseDescription}-->
                                                                <li><span class="caseButton" ><a onclick="editAF({!index});">{!item.Type} {!IF(AND(item.Sub_Type__c != null,!contains(item.Sub_Type__c,'skip')), '-','')} {!IF(contains(item.Sub_Type__c,'skip'), '',item.Sub_Type__c)} {!IF(AND(item.Category__c != null,!contains(item.Category__c,'skip')), '-','')} {!IF(contains(item.Category__c,'skip'), '',item.Category__c)}</a> </span></li>
                                                                <apex:variable value="{!index+1}" var="index"/>
                                                            </apex:repeat>
                                                        </ul> 
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="display:{!IF(lstSavedCases.size <= 1, 'block','none')}">
                                        <table>
                                            <apex:variable var="index2" value="{!0}"   />
                                            <apex:repeat value="{!lstSavedCases}" var="item">
                                                <tr>
                                                    <td>
                                                        <span class="caseButton">
                                                        <!--<a onclick="editAF({!index2})">{!lstCaseDescription[index2]}</a></span> <br />-->
                                                        <a onclick="editAF({!index2})">{!item.Type} {!IF(AND(item.Sub_Type__c != null,!contains(item.Sub_Type__c,'skip')), '-','')} {!IF(contains(item.Sub_Type__c,'skip'), '',item.Sub_Type__c)} {!IF(AND(item.Category__c != null,!contains(item.Category__c,'skip')), '-','')} {!IF(contains(item.Category__c,'skip'), '',item.Category__c)}</a></span> <br />
                                                    </td>
                                                </tr>
                                                <apex:variable value="{!index2+1}" var="index2"/>
                                            </apex:repeat>
                                        </table>
                                        
                                    </td>
                                </tr>
                            </table>
                        </apex:outputPanel>
                    </td>
                </tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr>
                    <td class="tdstyle"><strong>Add another case for this customer: </strong> 
                        
                        <apex:commandButton style="color:black;margin-top: 0px;margin-bottom: 0px;border-top-left-radius: 5px;border-bottom-right-radius: 5px; border-radius: 5px;margin-right: 10px; " action="{!newCaseCreation}" value="+" rerender="header,lvl1,lvl2,lvl3,lvl4,lvl5,lvl6,lvl7"></apex:commandButton> 
                    </td>
                </tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr> 
                    <td class="tdstyle">
                        <p style="line-height: 20px;font-style: italic;">*To make corrections on provided information within a case, navigate to the case under "saved cases".<br/>
                            *To add a new associated case for the same customer, navigate to the "plus" button under "Add another case for this customer"<br/>
                            *If all necessary information prior to the customer's call has been provided, navigate to "Submit &amp; Finish".<br/>
                            *If the recorded cases are not required, navigate to *Cancel* to close the wizard.<br/>
                        </p> 
                    </td> 
                </tr>
            </table>
            
            <apex:outputPanel >
                <table style="background-color:#D5045F;border-top: 6px solid #0C376E;width:100%">
                    <tr>
                        <td class="tdstyle" style="text-align:left;">
                            <apex:commandButton style="background:#1A2D58;color:white;margin-top: 20px;margin-bottom: 20px;border-top-left-radius: 5px;border-bottom-right-radius: 5px; border-radius: 5px;margin-right: 30px; padding: 1%;width: fit-content;" action="{!closeWindow}" value="CANCEL" rerender="header,lvl1,lvl2,lvl3,lvl4,lvl5,lvl6,lvl7" ></apex:commandButton> 
                        </td>
                        <td class="tdstyle" style="text-align:right;">
                            <apex:commandButton style="background:#1A2D58;color:white;margin-top: 20px;margin-bottom: 20px;border-top-left-radius: 5px;border-bottom-right-radius: 5px; border-radius: 5px;margin-right: 30px; padding: 1%;width: fit-content;" action="{!finalSaveCase}" value="SUBMIT & FINISH" rerender="header,lvl1,lvl2,lvl3,lvl4,lvl5,lvl6,lvl7,lvl7" ></apex:commandButton> 
                        </td>
                    </tr>
                </table>
            </apex:outputPanel>
            </apex:actionRegion>
        </apex:outputPanel>
        
        <!---------  End Screen 6 ---------->
        
        <!-----------Displays Saved Cases along with CaseNumber------------------->
        
        <apex:outputPanel id="lvl7" style="margin-left: 20px;line-height:41px; display:{!IF(isFirstLvl7,'block','none')}"><!----->
            <span class="tdstyle">Preview saved cases:</span>
            
            <table style="width:100%">
                <tr>
                    <td class="tdstyle">
                        <apex:outputPanel rendered="{!IF(lstFinalSavedCases.size >0 , true, false)}" >
                            <table>
                                <tr>
                                    <td><strong>Saved Cases: </strong> </td>
                                    <td style="display:{!IF(lstFinalSavedCases.size > 1, 'block','none')}">
                                        <table>
                                            <tr>
                                                <td>
                                                    
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdstyle">
                                                    <div class="clt">
                                                        <span class="caseButton">
                                                            {!objMasterCase.Subject}
                                                        </span><br/>
                                                        <ul> 
                                                            <apex:variable var="descriptionIndex" value="{!0}"   />
                                                            <apex:repeat value="{!lstFinalSavedCases}" var="item">
                                                                <li>
                                                                    <!--<span class="caseButton"><a onclick="editAF({!item.Id})">  </a> </span>-->
                                                                    <span class="caseButton"><apex:commandLink action="/{!item.Id}">{!lstCaseDescription[descriptionIndex]} ({!item.CaseNumber})</apex:commandLink></span>
                                                                </li> 
                                                                <apex:variable value="{!descriptionIndex+1}" var="descriptionIndex"/>
                                                            </apex:repeat>
                                                        </ul> 
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="display:{!IF(lstFinalSavedCases.size <= 1, 'block','none')}">
                                        <table>
                                            <apex:variable var="descriptionIndex2" value="{!0}"   />
                                            <apex:repeat value="{!lstFinalSavedCases}" var="item">
                                                <tr>
                                                    <td>
                                                        <span class="caseButton"><apex:commandLink action="/{!item.Id}">{!lstCaseDescription[descriptionIndex2]} ({!item.CaseNumber})</apex:commandLink></span>
                                                    </td>
                                                </tr>
                                                <apex:variable value="{!descriptionIndex2+1}" var="descriptionIndex2"/>
                                            </apex:repeat>
                                        </table>
                                        
                                    </td>
                                </tr>
                            </table>
                        </apex:outputPanel>
                    </td>
                </tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <!--<tr> 
                    <td class="tdstyle">
                        <!--solution for Sprint 4 OBN - 6--
                        <p style="line-height: 20px;font-style: italic;">*To make corrections on provided information within a case, navigate to the case under "saved cases".<br/>
                            *To add a new associated case for the same customer, navigate to the "plus" button under "Add another case for this customer"<br/>
                            *If all necessary information prior to the customer's call has been provided, navigate to "Submit &amp; Finish".<br/>
                            *If the recorded cases are not required, navigate to *Cancel* to close the wizard.<br/>
                        </p>  
                    </td>
                </tr>-->
            </table>
            
            <apex:outputPanel >
                <table style="background-color:#D5045F;border-top: 6px solid #0C376E;width:100%">
                    <tr>
                        <td class="tdstyle" style="text-align:left;">
                        </td>
                        <td class="tdstyle" style="text-align:right;">
                            <apex:commandButton style="background:#1A2D58;color:white;margin-top: 20px;margin-bottom: 20px;border-top-left-radius: 5px;border-bottom-right-radius: 5px; border-radius: 5px;margin-right: 30px; padding: 1%;width: fit-content;" action="{!closeWindow}" value="CLOSE" rerender="header,lvl1,lvl2,lvl3,lvl4,lvl5,lvl6,lvl7" oncomplete="focusTop();"></apex:commandButton> 
                        </td>
                    </tr>
                </table>
            </apex:outputPanel>
        </apex:outputPanel>
        
        <!----End------------------->
        
        <apex:actionFunction name="editAF" action="{!editCase}" rerender="header,lvl1,lvl2,lvl3,lvl4,lvl5,Err3,lvl6,lvl7" >
            <apex:param name="editrecord" value="" assignTo="{!strListIndex}" />
        </apex:actionFunction>
        
        <apex:actionFunction name="editSavedRecordAF" action="{!editSavedCase}" rerender="header,lvl1,lvl2,lvl3,lvl4,lvl5,Err3,lvl6,lvl7" >
            <apex:param name="editSavedRecord" value="" assignTo="{!tobeEditedCase}" />
        </apex:actionFunction>
        
        <apex:actionFunction name="getSelectedValueAF" action="{!getSelectedValue}" rerender="header">
            <apex:param name="selectedValue" value="" assignTo="{!strSelectedDetail}" />
        </apex:actionFunction>
        <apex:actionFunction name="getSelectedSubDetailsValueAF" action="{!getSelectedSubDetailsValue}" rerender="header">
            <apex:param name="selectedSubDetailsValue" value="" assignTo="{!strSelectedSubDetailsValue}" />
            <apex:param name="relatedDetails" value="" assignTo="{!strRelatedDetails}"/>
        </apex:actionFunction>
        
        <apex:actionFunction name="subdetailRerenderAF" rerender="SubDetailPanel1" action="{!resetCaseDEtailsSubDetails}">
            <apex:param name="subDetailParam" value="" assignTo="{!strSubDetailParam}" />
            <apex:param name="detailParam" value="" assignTo="{!strDetailParam}" />
        </apex:actionFunction>
        
        
        <apex:actionFunction name="setCompensationAMT" action="{!setCompensationAmount}" rerender="header">
            <apex:param name="compAmt" value="" assignTo="{!dclComAmt}" />
        </apex:actionFunction>
        
        <apex:actionFunction name="setRefundAMT" action="{!setCompensationAmount}" rerender="header">
            <apex:param name="refundAmt" value="" assignTo="{!dclRefundAmt}" />
        </apex:actionFunction>
        
        <apex:actionFunction name="compensationChangeAF" action="{!compensationChange}" rerender="cmp1,cmpAmt2">
        </apex:actionFunction>
        
        <apex:actionFunction name="refundChangeAF" action="{!refundChange}" rerender="refundAmt2,refundcmp1">
        </apex:actionFunction>
        
        
    </apex:form>
    <script>
        function currencyValidation(el,evt) {

          var charCode = (evt.which) ? evt.which : event.keyCode;
            var number = el.value.split('.');
            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            //just one dot
            if(number.length>1 && charCode == 46){
                 return false;
            }
            
            //get the carat position
            var caratPos = getSelectionStart(el);
            var dotPos = el.value.indexOf(".");
            if( caratPos > dotPos && dotPos>-1 && (number[1].length > 1)){
                return false;
            }
            return true;
        } 
        
        function getSelectionStart(o) {
            if (o.createTextRange) {
                var r = document.selection.createRange().duplicate()
                r.moveEnd('character', o.value.length)
                if (r.text == '') return o.value.length
                return o.value.lastIndexOf(r.text)
            } else return o.selectionStart
        }
        
        function hasDecimalPlace(value, x) {
            
            var pointIndex = value.indexOf('.');  
            return  pointIndex >= 0 && pointIndex < value.length - x;
        }
        
        function displayoptions(){
            window.onload = function(e){ 
                for (let el of document.querySelectorAll('.subdetails')) {
                    if(el.value == '{!strSelectedDetail}'){
                        el.style.display = 'block';
                    }
                }
            }
        }
        // Solution for Sprint - 3 OBN 18
        function focusTop() {
          document.getElementById('{!$Component.thepage.theform}').scrollIntoView();
        }
        window.onload = function(){
            focusTop();
        }
        
        
        function compensationChange(){
            
            compensationChangeAF();
        }
        
        function refundChange(){
            
            refundChangeAF();
        }
        
        function subdetailRerender(obj,subDetailarg,detailarg){
            var nextTr = $(obj).parents("tr").next();
            var radios =  nextTr.find("input[type='radio']");
            radios.each(function(index,obj){
                obj.checked= false;
            });
            
            console.log(obj);
            var parent = obj.parentNode;
            var isTrue = true;
            while(isTrue) {
              if(parent == null) {
            isTrue= false;
              }
              if(parent.nodeName === "TR") {
                isTrue= false;
              }
              if(isTrue)
              parent = parent.parentNode;
            }
            subdetailRerenderAF(subDetailarg,detailarg);
        }
    </script>
</apex:page>